<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
    <add key="umoya" value="http://localhost:8007/v3/index.json" protocolVersion="3" />
</packageSources>
<apikeys>
<add key="http://localhost:8007/v3/index.json" value="NoAPIKey" />
</apikeys> 
<config>
    <add key="globalPackagesFolder" value="resources" />
</config>
</configuration>